{% load static %}

<!-- FOOTER LIST -->
<footer id="footer">
  <a href="https://wa.me/628981609573?text=Hallo Perkenalkan saya"><i class="icofont-ui-call icofont"></i></a>
  <a href="mailto:nanda.prayasdewo@gmail.com"><i class="icofont-email icofont"></i></a>
  <a href="https://www.instagram.com/naufalprays77/"><i class="icofont-instagram icofont"></i></a>
  <a href="https://goo.gl/maps/5G9aqn2PRLqews2D6"><i class="icofont-location-pin icofont"></i></a>
  <a href="https://twitter.com/"><i class="icofont-twitter icofont"></i></a>
  <p>Copyright © 2021 Nanda Naufal Prayasdewo.</p>
</footer>
